*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li{
	display: inline-block;
	position: relative;
}

.clearfix::after{
	display: table;
	content: "";
	clear: both;
}

/* ============ START ============ */
#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}